<!DOCTYPE html>
<html lang="en">
<head> 
    <title>Palindrome Checker</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/css/style.css">
</head>
    <body>
        <main>
        {{{body}}} 
        </main>
    <script src="/public/js/script.js"></script>
    <footer>
        Harsh Sanjay Agrawal | 10475285 | CS-546A
    </footer>
    </body>
</html>