html,
body {
  font-size: 12pt;
}

.not-found {
  color: black;
  font-size: 20px;
  font-weight: bold;
}

a:link {
  color: white;
}

a:visited {
  color: #d3d3d3;
}

a:hover {
  color: black;
}

body {
  background: #cc4224;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

img {
  width: 640px;
}

main {
  max-width: 75%;
  margin: auto;
  color: #ffffff;
}

.topic {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}

button {
  background-color: #f3d403; /* Green */
  border: none;
  color: #2a75b3;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}
