<div><h1>Palidrome Checker</h1></div>
<form id="palindrome-form">
    
    <div><label for="phrase">Enter a string</label>
    <input type="text" id="phrase" name="phrase" placeholder="Your text here" ></div>

    <div id="error" class="alert-danger" hidden></div>

    <div><button type="submit" onclick="script" class="btn">Submit</button></div>
    
    <div id="result" class="alert-success" hidden></div>

    <div><ol id="attempts"></ol></div>

</form>