<h2>TV Maze Application</h2>
<div id="error" hidden></div>
<form id="searchForm">
    <label for="search_term">Enter the search term here!</label>
    <input type="text" id="search_term"/>
    <button type="submit">Submit</button>
</form>
<ul id="showList" hidden></ul>
<div id="show" hidden></div>
<a href="/" id="homeLink" hidden>Back to all shows</a><br><br>
