<form style="border:1px solid #ccc" method = "post" action = "/signup">
  <div class="container">
    <h1>Sign Up</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>

    <div>{{ error }}</div>

    <label for="username">Username</label>
    <input type="text" placeholder="Enter Username" name="username" id = "username">

    <label for="password">Password</label>
    <input type="password" placeholder="Enter Password" name="password" id = "password">

    <div class="clearfix">
      <button type="submit" class="signupbtn">Sign Up</button>
    </div>
  </div>
  <a href = "/login">Already have an account? Click here to log-in</a>
</form>