<h1>Character Finder</h1>
<p>This is a character finder website. You can enter keywords in the form given below, to find up to 20 matching results. Start typing below to begin!</p>
<form action="/search" method="POST">
        <label for = "searchTerm">
            Enter keywords
            <input id="searchTerm" type="text" name="searchTerm" placeholder="keywords" class="full-width-input"/>
        </label>
        <br><br>
        <button type="submit">Search</button>
        <button type="reset">Clear Form</button>
        <br><br>
</form>