<!DOCTYPE html>
<html lang="en">
<head> 
    <title>TV Maze Application</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/css/style.css">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
</head>
    <body>
        <main>
        {{{body}}} 
        </main>
    <script src="/public/js/script.js"></script>
    <footer>
        Harsh Sanjay Agrawal | 10475285 | CS-546A
    </footer>
    </body>
</html>